---
layout: page
title: "Samuel M. Factor"
subtitle: "Astronomy PhD Student, The University of Texas at Austin"
cover-img:
  - "/assets/img/big-imgs/heic0917aasc.jpg" : "The Orion ''Proplyds'' , Credit: NASA/ESO"
  - "/assets/img/big-imgs/heic0917absc.jpg" : "Orion, Credit: NASA/ESO"
  - "/assets/img/big-imgs/alma-starry-night.jpg" : "ALMA, Credit: ESO"
  - "/assets/img/big-imgs/hltau.jpg" : "HL Tau, Credit: ALMA"
  - "/assets/img/big-imgs/SMA.jpg" : "SMA, Credit: CfA"
---

I am a 5th year graduate student in the Astronomy department at The University of Texas at Austin. I work with Professor Adam Kraus on direct imaging of extrasolar planets. I recieved my B.A. in physics and computer science from Wesleyan University in 2014 and my M.A. in astronomy in 2015 as part of Wesleyan's 5 year combined BA/MA program. 

For more information on my research intrest and projects, see my <a href="/research">research</a> page. For a list of my publications, presentations and my full CV, see my [publications](/publications) page. 
My <a href="/blog">blog</a> has my ramblings on random cool science tidbits or coding projects.
If you want to learn more about me, outside of science, checkout my <a href="/aboutme">about me</a> page.

<div class="posts-list">
  {% for post in paginator.posts %}
  <article>
    <a class="post-preview" href="{{ post.url | prepend: site.baseurl }}">
	    <h2 class="post-title">{{ post.title }}</h2>

	    {% if post.subtitle %}
	    <h3 class="post-subtitle">
	      {{ post.subtitle }}
	    </h3>
	    {% endif %}
      <p class="post-meta">
        Posted on {{ post.date | date: "%B %-d, %Y" }}
      </p>

      <div class="post-entry">
        {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
        <span href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</span>
      </div>
    </a>
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
